$bgColor: #5B90F0;
/* 改变主题色变量 */
$--color-primary: $bgColor;
/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index";
.box-shadow{
  // box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15);
}
button{
  background:$bgColor;
}
.search-wrap{
  padding:30px 10px 20px 10px;
  background: #fff;
  // display:flex;
  // flex-wrap:wrap;
  overflow: hidden;
  margin-bottom:10px;
  .item{
    // width:150px;
    float: left;
    // display:flex;
    // align-items : center; 
    margin-right:10px;
    margin-bottom:10px;
    font-size:14px;
    label{
      white-space: nowrap;
      float: left;
      line-height:28px;
    }
    >div{
      width:auto;
    }
    .el-range-editor--mini .el-range-input, .el-range-editor--mini .el-range-separator{
      float: left;
    }
  }
}
.data-content{
  // padding:10px;
  // background: #fff;
  p.title{
    padding-left:8px;
    line-height:65px;
    text-align:left;
    font-size:18px;
    border-bottom:1px solid #ededed;
    background: #fff;
    margin-bottom:18px;
  }
  .title-operate-btn{
    padding:0 10px 10px 0;
    text-align:left;
    // padding-left:0;
  }
  .data-flex{
    height:600px;
    display:-webkit-box;
    .tree-wrap{
      width:15%;
      min-width:136px;
      background:#fff;
      padding:0 8px;
      margin-right:10px;
      height:100%;
      display: -webkit-box;
      -webkit-box-orient:vertical;
      .el-radio-group{
        .el-radio{
          width:100%;
          text-align:left;
          padding: 5px;
          .el-radio__label{
            white-space: initial;
          }
        }
      }
    }
    .table-content{
      -webkit-box-flex:1;
      background:#fff;
    }
    .photo-wrap{
      width: 15%;
      padding: 10px;
      margin-left:18px;
      background:#fff;
      .avatar{
        height:100px;
        background:#f2f2f2;
        text-align:center;
        img{
          height:100%;
          width:auto;
          display:inline-block;
        }
        // margin-bottom:10px;
      }
      .tag-wrap{
        height:30px;
        .tag-div{
          width:100%;
          height:100%;
          background: #5ACAA6;
          border-radius: 5px;
        }
      }
    }
  }
  .table-content{
    height:600px;
    padding:0 10px;
    background:#fff;
    // .no-result{
    //   line-height:60px;
    //   font-size:12px;
    //   color:#909399;
    // }
    .table-wrap{
      height:100%;
      // background:#fff;
      display: -webkit-box;
      -webkit-box-orient:vertical;
    }
    .header-row{
      th{
        background:#5B90F0;
        color:#fff;
        &:first-child{
          border-radius:30px 0 0 30px;
        }
        &:nth-last-child(2){
          border-radius:0 30px 30px 0;
        }
        &:last-child{
          background:none;
        }
      }
      .check-wrap{
        background:#fff;
      }
    }
    .check-header-row{
      th{
        background:#5B90F0;
        color:#fff;
        &:first-child{
          border-bottom:none;
        }
        &:nth-child(2){
          border-radius:30px 0 0 30px;
        }
        &:nth-last-child(2){
          border-radius:0 30px 30px 0;
        }
        &:last-child{
          background:none;
        }
      }
      .check-wrap{
        background:#fff;
      }
    }
    .check-row{
      td{
        &:first-child{
          border-bottom:none;
        }
      }
    }
  }
  .reperate-wrap{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    // overflow: hidden;
    >div{
      // float: left;
      margin:5px;
    }
  }
  .table-pagination{
    margin-top:30px;
  }
}
.el-dropdown{
  cursor: pointer;
}
.title-operate-btn{
  .upload-wrap{
    width:78px;
  }
}
.no-result{
  line-height:60px;
  font-size:12px;
  color:#909399;
}
.upload-wrap{
  position: relative;
  input[type=file], input[type=text]{
    position: absolute;
    width:68px;
    height:28px;
    left:0;
    opacity: 0;
    z-index:1;
    cursor: pointer;
    width:100%;
  }
  input[type=text]{
    opacity: 0;
    z-index:0;
  }
  button{
    width:100%;
  }
  .upload-close-file{
    position: absolute;
    right: 10px;
    z-index: 10;
    top: 8px;
    color: #fff;
    cursor: pointer;
  }
  >div{
    flex:1;
  }
  .text{
    margin:0 10px;
  }
}
.input-data-wrap{
  padding:20px 50px 20px 20px;
  background:#fff;
  margin-bottom: 20px;
  &:last-child{
    margin-bottom:0;
  }
  .title{
    text-align:left;
    color:#666;
    font-size:14px;
    margin-bottom:5px;
  }
  .red{
    color:red;
  }
  .blue{
    color:blue;
  }
  .el-row{
    margin-bottom:20px;
    &:last-child{
      margin-top:50px;
    }
  }
  .input{
    text-align:left;
    button>span{
      letter-spacing: 4px;
    }
  }
}
.device-setting{
  .param-setting{
    min-height:100px;
    padding:20px;
    border-top:1px solid #b5b5b5;
    text-align:left;
    h2{
      position: relative;
      .add{
        position: absolute;
        height:28px;
        top:0;
        left:140px;
      }
    }
    .item{
      margin-top:15px;
      color:#606266;
      .w-100{
        width:100px;
      }
      .w-150{
        width:150px;
      }
      .w-200{
        width:200px;
      }
      label{
        font-size:14px;
      }
      .inner{
        display:inline-block;
        margin-right:50px;
        height:28px;
        button{
          width:100%;
        }
        label{
          display:inline-block;
          min-width:70px;
          margin-left:10px;
          line-height:28px;
        }
      }
      .label{
        display:inline-block;
        margin-right:5px;
        label{
          line-height:28px;
          margin-left:30px;
        }
      }
      .input{
        display:inline-block;
      }
      .last{
        margin:0 15px;
      }
    }
    .saveData{
      text-align:center;
    }
  }
}
.el-select{
  width:100%;
}
.el-date-editor.el-input, .el-date-editor.el-input__inner, .el-cascader{
  width:100%;
}
.el-input__inner{
  border-radius:30px;
}
.el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content{
  background:$bgColor;
  color:#fff;
}
// .el-tree--highlight-current .el-tree-node.is-checked>.el-tree-node__content{
//   background:$bgColor;
//   color:#fff;
// }
.el-menu{
  border-right:none;
}